@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --after-content: '2';
}


body {
    background-color: #f8f9d2;
    background-image: linear-gradient(to right, rgb(243, 244, 246), rgb(209, 213, 219));
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(97, 97, 97);
}

li {
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    scrollbar-width: thin;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}