@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --after-content: '2';
}


body {
    background: linear-gradient(to right, rgb(253, 186, 116), rgb(253, 164, 175)) no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        background: linear-gradient(to right, rgb(253, 186, 116), rgb(253, 164, 175)) no-repeat center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(97, 97, 97);
}

li {
    list-style: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    scrollbar-width: thin;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}